# COMMON
/target/
/.idea/
/.claude
/.codegraph

# VAULT
vault/**
!vault/**/
!vault/**/*.example
!vault/**/*.gitkeep

*.ps1
cert.json.example
public_key.json.example
private_key.json.example

# ENVIROMENT
static/envs/**
!static/environment/envs/**/*.example

# VAULT
keycloak/**
!keycloak/.gitkeep

