services:
  vault:
    image: hashicorp/vault:1.21
    container_name: vault
    ports:
      - "8200:8200"
    cap_add:
      - IPC_LOCK
    volumes:
      - ./vault/config:/vault/config
      - ./vault/data:/vault/file
    environment:
      VAULT_CACERT: /vault/config/root-ca.pem
      VAULT_LOCAL_CONFIG: >
        {
          "storage": { "file": { "path": "/vault/file" } },
          "listener": [{
            "tcp": {
              "address": "0.0.0.0:8200",
              "tls_cert_file": "/vault/config/vault-cert.pem",
              "tls_key_file": "/vault/config/vault-key.pem",
              "tls_client_ca_file": "/vault/config/vault-ca.pem"
            }
          }],
          "ui": true,
          "api_addr": "https://127.0.0.1:8200",
          "default_lease_ttl": "168h",
          "max_lease_ttl": "720h"
        }
    command: server

  heimdall-db:
    container_name: "heimdall-db"
    image: "postgres"
    restart: always
    env_file:
      - ./static/environment/envs/db.env
    ports:
      - "1450:5432"

  heimdall: 
    container_name: heimdall
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "1500:1500"
    volumes:
      - ./static/environment/config:/app/static/environment/config
      - ./vault:/app/vault
    depends_on:
      - heimdall-db
      - vault
    env_file:
      - ./static/environment/envs/heimdall.env
    environment:
      CONFIG_PATH: /app/static/environment/config/prod/dataspace_authority.yaml
    