# -------------------------------------------------
# Vault connection (DEACTIVATED IN HEIMDALL MINI)
# -------------------------------------------------

# Vault server address (e.g. https://vault.example.com:8200)
# VAULT_ADDR=http://heimdall-vault:8200

# Vault access token
# VAULT_TOKEN=change_me

# Skip TLS verification (true/false)
# VAULT_SKIP_VERIFY=false

# -------------------------------------------------
# TLS configuration
# -------------------------------------------------

# CA that signed the Vault server certificate
# VAULT_CACERT=/app/vault/config/vault-ca.pem

# Client certificate (mTLS), if used
# VAULT_CLIENT_CERT=/app/vault/config/vault-cert.pem
# VAULT_CLIENT_KEY=/app/vault/config/vault-key.pem

# -------------------------------------------------
# Path to secrets
# -------------------------------------------------

# Local or relative path to Vault configuration
VAULT_PATH=/app/vault/secrets

# -------------------------------------------------
# Vault logical layout
# -------------------------------------------------

# KV v2 mount
# VAULT_MOUNT=mount

# -------------------------------------------------
# Secret paths (RELATIVE to the mount)
# -------------------------------------------------

# Database credentials
VAULT_APP_DB=db.json.example

# Wallet credentials (optional)
VAULT_APP_WALLET=wallet.json.example

# Federation
VAULT_APP_PRIV_KEY=private_key.json.example
VAULT_APP_PUB_PKEY=public_key.json.example
VAULT_APP_CERT=cert.json.example

#VAULT_APP_CLIENT_CERT=change_me
#VAULT_APP_CLIENT_KEY=change_me
#VAULT_APP_ROOT_CLIENT_KEY=change_me
