$Env:VAULT_PATH="./vault/secrets"

$Env:VAULT_APP_DB="db.json.example"
$Env:VAULT_APP_WALLET="wallet.json.example"

$Env:VAULT_APP_PRIV_KEY="private_key.json.example"
$Env:VAULT_APP_PUB_PKEY="public_key.json.example"
$Env:VAULT_APP_CERT="cert.json.example"

$Env:RUST_BACKTRACE="full"