#!/bin/bash

# Ruta del vault
export VAULT_PATH="./vault/secrets"

# Archivos de la app
export VAULT_APP_DB="db.json.example"
export VAULT_APP_WALLET="wallet.json.example"

export VAULT_APP_PRIV_KEY="private_key.json.example"
export VAULT_APP_PUB_PKEY="public_key.json.example"
export VAULT_APP_CERT="cert.json.example"

# Configuración de Rust
export RUST_BACKTRACE="full"