KEYCLOAK_ADMIN=heimdall_keycloak
KEYCLOAK_ADMIN_PASSWORD=heimdall_keycloak
KC_HOSTNAME=change_me
KC_DB_URL=jdbc:postgresql://keycloak_postgres:5432/heimdall_keycloak
KC_DB=postgres
KC_DB_USERNAME=heimdall_keycloak
KC_DB_PASSWORD=heimdall_keycloak
KC_HTTPS_CERTIFICATE_FILE=/etc/x509/https/vault-ca.pem
KC_HTTPS_CERTIFICATE_KEY_FILE=/etc/x509/https/vault-key-pkcs8.pem

