OAUTH2_PROXY_CUSTOM_TEMPLATES_DIR=/templates
OAUTH2_PROXY_PROVIDER=keycloak-oidc
OAUTH2_PROXY_CLIENT_ID=heimdall-client
OAUTH2_PROXY_CLIENT_SECRET=change_me
OAUTH2_PROXY_OIDC_ISSUER_URL=https://your_domain:8443/realms/heimdall
OAUTH2_PROXY_BACKEND_LOGOUT_URL=https://your_domain:8443/realms/heimdall/protocol/openid-connect/logout?id_token_hint={id_token}
OAUTH2_PROXY_REDIRECT_URL=https://your_domain/oauth2/callback
OAUTH2_PROXY_UPSTREAMS=http://heimdall:1500
OAUTH2_PROXY_EMAIL_DOMAINS=*
OAUTH2_PROXY_COOKIE_SECRET=change_me
OAUTH2_PROXY_COOKIE_SECURE=true
OAUTH2_PROXY_COOKIE_DOMAINS=your_domain
OAUTH2_PROXY_HTTPS_ADDRESS=0.0.0.0:4180
OAUTH2_PROXY_TLS_CERT_FILE=/certs/vault-ca.pem
OAUTH2_PROXY_TLS_KEY_FILE=/certs/vault-key-pkcs8.pem
OAUTH2_PROXY_SSL_INSECURE_SKIP_VERIFY=true