-----BEGIN CERTIFICATE-----
MIIDnzCCAoegAwIBAgIUF5WaN0ZkriPYl7RYPCNUjt1swP4wDQYJKoZIhvcNAQEL
BQAwXzEcMBoGA1UEAwwTRXVub21pYUhlaW1kYWxsLmNvbTEYMBYGA1UECgwPRXVu
b21pYUhlaW1kYWxsMQswCQYDVQQGEwJFUzEYMBYGA1UEYQwPVkFURVMtNTU1NTU1
NTU1MB4XDTI2MDYyODIwNDIwMloXDTI3MDYyODIwNDIwMlowXzEcMBoGA1UEAwwT
RXVub21pYUhlaW1kYWxsLmNvbTEYMBYGA1UECgwPRXVub21pYUhlaW1kYWxsMQsw
CQYDVQQGEwJFUzEYMBYGA1UEYQwPVkFURVMtNTU1NTU1NTU1MIIBIjANBgkqhkiG
9w0BAQEFAAOCAQ8AMIIBCgKCAQEAm7tixV6Sd912rfi50MtcQOabGfuk0hm4FxeK
ZNuu8Sn1HvXarkATwc6W4RgQsVp4QYLtdEJJfCb1SE6P3xQs77pMWI338NbODKh4
8AN+GHv3tWzxosfjeyh4RLpxlm4wVCY+Y/0RbbBG0gEHyrbzHxfScbgdLvyF/iZo
FHUcg8vBHDqUNJnXDHnmpJHFi/a/8Q6nYGdkIjUwqZtVo0zeetiZwM907NsdxPc3
voFjCd5kwZqKb2k8dYtl8B+u0uPAqAiDRcb9hxoPYGTVkI7SnsHkzAl8qNXPJ7QA
q3qOkucTinWXwymI3Nczvw0mT5PzzC6n/pdZC+lQz7Zv/nVWQwIDAQABo1MwUTAd
BgNVHQ4EFgQUbs8pgANY+j5d4Jq8iV9Z7WBItvQwHwYDVR0jBBgwFoAUbs8pgANY
+j5d4Jq8iV9Z7WBItvQwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOC
AQEATOlq5stFV/ABxafDrOf61Ru7lL9qXeRNw5U4Ow2R2sLgfMU89RkE/dBdOxnZ
JZFE/wKEGJUkI/nlc+iVBQhwIlaxUg4Hpk3udS3k15C9doJs1yh8LySo0WT+RVvR
nuklwy+2fXolXp76Z2kQkFNmZQhPc07OhW2Xd+xMQwCXwK9KEUaJRC1JF6roq3ZN
rF1h7SOHz6tylriZDQJE8eOjd5P+dbRagqp8zOs81whTNYIFTDkzEs54ClR2JpQY
Jd64zE/gyyXCS7+2ha2TpN5aTaDu90dTYWR+EO/0F4l49D3QQkpPNiHTcThyWeq/
6zirEilUSZRrj2FOB0gMKmkoPg==
-----END CERTIFICATE-----
