-----BEGIN CERTIFICATE-----
MIIECjCCAvKgAwIBAgIUDQRObYpdIxjv3xXhBpxgjZqhaF0wDQYJKoZIhvcNAQEL
BQAwgZYxHTAbBgNVBAMMFFJhaW5ib3dBdXRob3JpdHkuY29tMRkwFwYDVQQKDBBS
YWluYm93QXV0aG9yaXR5MQswCQYDVQQGEwJFUzFNMEsGA1UEYQxEVEFYSUQxMjM0
NTY3ODkrRVVJRDEyMzQ1Njc4OStFT1JJMTIzNDU2Nzg5K1ZBVDEyMzQ1Njc4OStM
RUkxMjM0NTY3ODkwHhcNMjYwMTIzMTgyNTExWhcNMjcwMTIzMTgyNTExWjCBljEd
MBsGA1UEAwwUUmFpbmJvd0F1dGhvcml0eS5jb20xGTAXBgNVBAoMEFJhaW5ib3dB
dXRob3JpdHkxCzAJBgNVBAYTAkVTMU0wSwYDVQRhDERUQVhJRDEyMzQ1Njc4OStF
VUlEMTIzNDU2Nzg5K0VPUkkxMjM0NTY3ODkrVkFUMTIzNDU2Nzg5K0xFSTEyMzQ1
Njc4OTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJu7YsVeknfddq34
udDLXEDmmxn7pNIZuBcXimTbrvEp9R712q5AE8HOluEYELFaeEGC7XRCSXwm9UhO
j98ULO+6TFiN9/DWzgyoePADfhh797Vs8aLH43soeES6cZZuMFQmPmP9EW2wRtIB
B8q28x8X0nG4HS78hf4maBR1HIPLwRw6lDSZ1wx55qSRxYv2v/EOp2BnZCI1MKmb
VaNM3nrYmcDPdOzbHcT3N76BYwneZMGaim9pPHWLZfAfrtLjwKgIg0XG/YcaD2Bk
1ZCO0p7B5MwJfKjVzye0AKt6jpLnE4p1l8MpiNzXM78NJk+T88wup/6XWQvpUM+2
b/51VkMCAwEAAaNOMEwwCwYDVR0PBAQDAgWgMBMGA1UdJQQMMAoGCCsGAQUFBwMB
MAkGA1UdEwQCMAAwHQYDVR0OBBYEFG7PKYADWPo+XeCavIlfWe1gSLb0MA0GCSqG
SIb3DQEBCwUAA4IBAQA7Dg6blwVA5g0yU96uN5q/utrDHVv3tLVkLWIhzBXkTuKG
qdjbO3jWkIDCXH/FwFcTl2t5WrIgpBay8CWZ/Dr+1WTz7ciW1ZtZ5LlK8TFxuQfk
w059s7xSeMdi2yPbB/y9DbCMV0v9fcb/V26G1S8vZTn+G6AtNZKmtOiVtlDXnZ63
71Zj/4TLA/ekvjJZTGIIA7A9UWMpXsXIOLBc3x+bGbSrdeHe5XrOu9vxVAuwdGEt
QokCJZQXWuNnkBm8wAZFirzU3OcPUxtZlPCuCkGM2pimaNUhiRsANuSF8yqHLzCx
7hIv9paMpJq08678PwahbGCRLLB/i6ZKm3wLi8z8
-----END CERTIFICATE-----
