{
  "inner": "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAm7tixV6Sd912rfi50Mtc\nQOabGfuk0hm4FxeKZNuu8Sn1HvXarkATwc6W4RgQsVp4QYLtdEJJfCb1SE6P3xQs\n77pMWI338NbODKh48AN+GHv3tWzxosfjeyh4RLpxlm4wVCY+Y/0RbbBG0gEHyrbz\nHxfScbgdLvyF/iZoFHUcg8vBHDqUNJnXDHnmpJHFi/a/8Q6nYGdkIjUwqZtVo0ze\netiZwM907NsdxPc3voFjCd5kwZqKb2k8dYtl8B+u0uPAqAiDRcb9hxoPYGTVkI7S\nnsHkzAl8qNXPJ7QAq3qOkucTinWXwymI3Nczvw0mT5PzzC6n/pdZC+lQz7Zv/nVW\nQwIDAQAB\n-----END PUBLIC KEY-----"
}